@charset "UTF-8"; 
/* Manipulacao geral do CSS*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Configuracoes gerais de CSS do nav */
header, nav {
    min-width: 20px;
    display: flex; /* alinha os itens lado a lado */
    justify-content: space-between;
    align-items: center;
    padding: 16px 90px 24px 0px; /* Tentei centralizar um pouco mais o nav para ficar perto da imagem do centro */
    background-color: white;
    font-size: 16px;

}

/*Manipulacao da logo e alinha a logo com o texto */
div.logo {
    padding: 0px 0px 0px 180px;
    min-width:40px ;
    margin: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Manipulacao da imagem */
div > img {
    width: 180px;
}
/*configuracoes inicias do nav(menu principal) */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}
/*configuracoes dos itens da lista*/
.nav-menu li a{
    text-decoration: none; /* Remove o sublinhado */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #141414e1;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 3px solid transparent; /* Para efeito de hover */
    transition: border-color 0.3s ease;
}
.nav-menu li a:hover {
    border-bottom: 3px solid rgb(70,180,199); /*Efeito de sublinhado ao passar o mouse */
    color:#1f1f1fe1 ;
  }
.botao-agendar{
    margin: 0 20px; /*tamanho levemente alterado do botao agendar para as proximas configuracoes */
  }
.btn-agendar {
    background-color: #0097b2;  /*Configuracoes gerais do botao Agendar */
    color: white;
    font-family: 'Nunito','Lato', sans-serif;
    font-weight: bolder;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease; /*Mudanca de cor do botao no a:hover*/
    border: none;
    display: inline-block;
   
}
.btn-agendar:hover {
    background-color: #005cb2f1;
    ;
}
/*configuracoes de CSS dos icones de redes sociais */
.social-icons{
    list-style: none;
    display: flex;
    gap: 6px;
    align-items: center;
}
/* Estilo dos links dos ícones */
.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-decoration: none;
}
/* Estilo dos ícones sociais (imagens) */
.social-icons img.icon-social {
    width: 30px;
    height: 30px;
    opacity: 0.7; /* Opacidade inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
/*Efeito de 'aumentar' */
.social-icons a:hover img.icon-social {
    opacity: 1;
    transform: scale(1.1);
}
/* Esconde o botão hamburguer por padrão (desktop) */
.menu-toggle {
    display: none; 
}
/* Deixa o conteudo exclusivo para mobile */
.mobile-only {
    display: none;
}
#mobile-image {
    display: none;
}
/* Media Query para telas menores que 999px */
@media (max-width: 999px) {
      div.logo {
    padding: 0px;
      }
      /*Exibe o botao de menu hamburguer */
.menu-toggle {
    display: block; /*Mostra apenas em telas pequenas */
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #0071b2;
    }
      /* Ajusta o head e o nav */
header, nav {
    padding: 20px 26px;
}
/* Oculta menus e mostra ao clicar (JS) */
.nav-menu,
.botao-agendar,
.social-icons {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 0;
}
.nav-menu.show,
.botao-agendar.show,
.social-icons.show {
    display: flex;
}
nav {
    position: relative;
}
.mobile-only {
    display: flex;
}
}
/*container principal do carrossel (slider) */
.carrossel {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 10px auto;
    padding: 10px 20px;
    height: 75vh;
    max-width: 100%;
} 
/* primeiro cartao do carrossel */
.carrossel-card {
    position: relative;
    background-image: url(imagens/huskdeoculos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center; 
    background-color:#fcebcc;
    border-radius: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 65px 26px 80px 26px;
    max-width: 1350px;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.carrossel-imagem img {
    max-width: 400px;
    width: 100%;
    height: auto;
}
.carrossel-texto{
    max-width: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}
.carrossel-texto h2{
    font-size: 5.2rem;
    color: #1f1f1f;
    font-family: 'Roboto', sans-serif;
    line-height: 0.95;
}
.carrossel-texto h2 .destaque {
    color: #f6a600;
    font-weight: bold;
}
.carrossel-texto p {
    max-width: 540px;
    font-size: 26px;
    color: #333;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    margin-bottom: 5px;
}
.carrossel-texto .btn-agendar {
    background-color: #0097b2;
    color: white;
    font-weight: bolder;
    padding: 12px 58px;
    border-radius: 28px;
    font-weight: 600px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.btn-agendar:hover {
    background-color: #007ea1;
}
@media (max-width: 1600px) and (min-width: 1300px){ /* Media Query para notebooks (responsividade ) */
    header, nav {
        padding: 10px 65px 10px 0px; 
    }
    div.logo {
        padding: 0px 0px 0px 130px;
    }
    .carrossel {
        padding: 40px 220px;
        margin: 0px auto;
        height: auto;
    }

    .carrossel-card {
        background-image: url(imagens/huskdeoculos.png);
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
        padding: 40px 30px 40px 50px;
        min-height: 300px;
        flex-direction: column;
        align-items: flex-start;
    }
    .carrossel-texto {
        max-width: 700px; 
        padding: 20px;
        gap: 18px;
    }
    .carrossel-texto h2 {
        font-size: 3.8em;
    }
    .carrossel-texto p {
        max-width: 410px;
        font-size: 22px;
    }
    .carrossel-texto .btn-agendar {
        padding: 10px 40px;
        font-size: 1.4rem;
    }
}
 @media (max-width: 768px) 
 /* Media Query para celulares */
 {
    header, nav {
        padding: 14px 8px 10px 10px;
        background-color: #fcf5e8;
    }
    body {
        background-color: #fcf5e8;

    }
    div.logo{
        position: relative;
        z-index: 10;
        padding: 0;
        justify-content: flex-start;
    }
    div > img {
        width: 140px;
    }
    .menu-toggle{
        color: #1f1f1f;
        font-size: 30px;
        display: block;
        position: relative;
        z-index: 10;
    }
    .nav-menu {
        z-index: 10;
    }
    .carrossel{
        padding: 10px;
        background-color: #fcf5e8;
    }
    .carrossel-card {
        border-radius: none;
        box-shadow: none;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        background-image: none;
        background-color: #fcf5e8;
        align-items: center;
        text-align: center;
        padding: 14px 6px;
        width: 100%;
        min-height: auto;
    }
    #mobile-image{
        padding: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
   #mobile-image img {
    width: 100%; 
    height: auto;
    max-width: 400px;
   }
    .carrossel-texto{
        display: flex;
        text-align: left;
        max-width: 100%;
        padding: 0px;
        gap: 0px;
    }
    .carrossel-texto h2 {
        max-width: 350px;
        font-size: 2.8rem;
        line-height: 1.0;
    }
    .carrossel-card h2 .destaque {
        font-size: 2.8rem;
        color: #f5a623;
    }
    .carrossel-texto p {
        font-size: 1rem;
        margin: 16px 0;
    }
    .carrossel-texto .btn-agendar {
        margin: 0px;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 14px 0;
        font-size: 1rem;
    }
 }